## exploring the data

## constants and macros

In [12]:
DATA_PATH = '../data/raw/survey_results_public.csv'

## imports

In [14]:
import pandas as pd
pd.options.display.max_rows= 1000

In [31]:
df_raw = pd.read_csv(DATA_PATH)
df_raw.shape

(83439, 48)

In [37]:
## see the answers
## multiple answers divided by ;
## some nulls in the answers 
## some non important features : ResponseId , 
# DevType is the target that we want to predict (separated by ,)
## employment is separated by ,
df_raw.sample(1).iloc[0,:]

ResponseId                                                                  13131
MainBranch                                         I am a developer by profession
Employment                                                     Employed full-time
Country                                                                     Spain
US_State                                                                      NaN
UK_Country                                                                    NaN
EdLevel                         Some college/university study without earning ...
Age1stCode                                                          18 - 24 years
LearnCode                       Other online resources (ex: videos, blogs, etc...
YearsCode                                                                      20
YearsCodePro                                                                   12
DevType                         Developer, desktop or enterprise applications;...
OrgSize                                                        10 to 19 employees
Currency                                                        EUR European Euro
CompTotal                                                                 29000.0
CompFreq                                                                   Yearly
LanguageHaveWorkedWith             Bash/Shell;HTML/CSS;Java;JavaScript;Python;SQL
LanguageWantToWorkWith                  Bash/Shell;HTML/CSS;JavaScript;Python;SQL
DatabaseHaveWorkedWith                                          PostgreSQL;SQLite
DatabaseWantToWorkWith                                          PostgreSQL;SQLite
PlatformHaveWorkedWith                                        DigitalOcean;Heroku
PlatformWantToWorkWith                                        DigitalOcean;Heroku
WebframeHaveWorkedWith                                     Django;jQuery;React.js
WebframeWantToWorkWith                      Django;FastAPI;jQuery;React.js;Vue.js
MiscTechHaveWorkedWith                                             Cordova;Pandas
MiscTechWantToWorkWith                                             Flutter;Pandas
ToolsTechHaveWorkedWith                                        Ansible;Docker;Git
ToolsTechWantToWorkWith                                   Ansible;Docker;Flow;Git
NEWCollabToolsHaveWorkedWith    Atom;Eclipse;Emacs;IPython/Jupyter;Visual Stud...
NEWCollabToolsWantToWorkWith     Emacs;IPython/Jupyter;PyCharm;Visual Studio Code
OpSys                                                                 Linux-based
NEWStuck                        Call a coworker or friend;Go for a walk or oth...
NEWSOSites                                          Stack Overflow;Stack Exchange
SOVisitFreq                                                 Daily or almost daily
SOAccount                                                                     Yes
SOPartFreq                                                   A few times per week
SOComm                                                                    Neutral
NEWOtherComms                                                                  No
Age                                                               35-44 years old
Gender                                                                        Man
Trans                                                                          No
Sexuality                                                 Straight / Heterosexual
Ethnicity                                            White or of European descent
Accessibility                                                   None of the above
MentalHealth                                                    None of the above
SurveyLength                                                Appropriate in length
SurveyEase                                                                   Easy
ConvertedCompYearly                                                       31348.0
Name: 13130, dtype: object

In [33]:
## this is the id (not important in prediciton)
len(df_raw['ResponseId'].unique())

83439

## exploring the data types of the features

In [36]:
## note that years code and years code pro are objects (string) which is suspicious 
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83439 entries, 0 to 83438
Data columns (total 48 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   ResponseId                    83439 non-null  int64
 1   MainBranch                    83439 non-null  object
 2   Employment                    83323 non-null  object
 3   Country                       83439 non-null  object
 4   US_State                      14920 non-null  object
 5   UK_Country                    4418 non-null   object
 6   EdLevel                       83126 non-null  object
 7   Age1stCode                    83243 non-null  object
 8   LearnCode                     82963 non-null  object
 9   YearsCode                     81641 non-null  object
 10  YearsCodePro                  61216 non-null  object
 11  DevType                       66484 non-null  object
 12  OrgSize                       60726 non-null  object
 13  Currency                      61080 non-null  object
 14  CompTotal                     47183 non-null  float64
 15  CompFreq                      52150 non-null  object
 16  LanguageHaveWorkedWith        82357 non-null  object
 17  LanguageWantToWorkWith        76821 non-null  object
 18  DatabaseHaveWorkedWith        69546 non-null  object
 19  DatabaseWantToWorkWith        58299 non-null  object
 20  PlatformHaveWorkedWith        52135 non-null  object
 21  PlatformWantToWorkWith        41619 non-null  object
 22  WebframeHaveWorkedWith        61707 non-null  object
 23  WebframeWantToWorkWith        52095 non-null  object
 24  MiscTechHaveWorkedWith        47055 non-null  object
 25  MiscTechWantToWorkWith        38021 non-null  object
 26  ToolsTechHaveWorkedWith       72537 non-null  object
 27  ToolsTechWantToWorkWith       65480 non-null  object
 28  NEWCollabToolsHaveWorkedWith  81234 non-null  object
 29  NEWCollabToolsWantToWorkWith  73022 non-null  object
 30  OpSys                         83294 non-null  object
 31  NEWStuck                      83052 non-null  object
 32  NEWSOSites                    83171 non-null  object
 33  SOVisitFreq                   82413 non-null  object
 34  SOAccount                     82525 non-null  object
 35  SOPartFreq                    67553 non-null  object
 36  SOComm                        82319 non-null  object
 37  NEWOtherComms                 82828 non-null  object
 38  Age                           82407 non-null  object
 39  Gender                        82286 non-null  object
 40  Trans                         80678 non-null  object
 41  Sexuality                     73366 non-null  object
 42  Ethnicity                     79464 non-null  object
 43  Accessibility                 77603 non-null  object
 44  MentalHealth                  76920 non-null  object
 45  SurveyLength                  81711 non-null  object
 46  SurveyEase                    81948 non-null  object
 47  ConvertedCompYearly           46844 non-null  float64
dtypes: float64(2), int64(1), object(45)
memory usage: 30.6+ MB

In [51]:
df_raw['YearsCodePro'].unique() # have "less than one year" 
df_raw['Age'].unique() # have "18 - 24 years old" 
df_raw['Age1stCode'].unique() # have "18 - 24 years old"

array(['18 - 24 years', '11 - 17 years', '5 - 10 years', '25 - 34 years',
       '35 - 44 years', 'Younger than 5 years', '45 - 54 years',
       '55 - 64 years', nan, 'Older than 64 years'], dtype=object)

In [55]:
# Investigate the questionable objects columns
questionable_cols = ['YearsCodePro', 'YearsCode', 'Age1stCode']

for col in questionable_cols: 
    print(col)
    print(df_raw[col].unique().tolist())
    print('--------------------------')
    print()

YearsCodePro
[nan, '10', '4', '5', '6', '2', '30', '9', '18', '12', '21', '1', '16', 'Less than 1 year', '15', '3', '35', '7', '8', '17', '14', '26', '25', '20', '50', '34', '11', '24', '22', '13', '31', '23', '39', '41', '27', '28', '19', '33', 'More than 50 years', '37', '29', '32', '43', '40', '38', '45', '42', '46', '36', '44', '47', '48', '49']
--------------------------

YearsCode
[nan, '7', '17', '3', '4', '6', '16', '12', '15', '10', '40', '9', '26', '14', '39', '20', '8', '19', '5', 'Less than 1 year', '22', '2', '1', '34', '21', '13', '25', '24', '30', '31', '18', '38', 'More than 50 years', '27', '41', '42', '35', '23', '28', '11', '37', '44', '43', '36', '33', '45', '29', '50', '46', '32', '47', '49', '48']
--------------------------

Age1stCode
['18 - 24 years', '11 - 17 years', '5 - 10 years', '25 - 34 years', '35 - 44 years', 'Younger than 5 years', '45 - 54 years', '55 - 64 years', nan, 'Older than 64 years']
--------------------------

## knowing the nulls in the data

In [48]:
## wow data is full of nulls !!!
df_raw.isna().sum().sort_values(ascending=False)

UK_Country                      79021
US_State                        68519
MiscTechWantToWorkWith          45418
PlatformWantToWorkWith          41820
ConvertedCompYearly             36595
MiscTechHaveWorkedWith          36384
CompTotal                       36256
WebframeWantToWorkWith          31344
PlatformHaveWorkedWith          31304
CompFreq                        31289
DatabaseWantToWorkWith          25140
OrgSize                         22713
Currency                        22359
YearsCodePro                    22223
WebframeHaveWorkedWith          21732
ToolsTechWantToWorkWith         17959
DevType                         16955
SOPartFreq                      15886
DatabaseHaveWorkedWith          13893
ToolsTechHaveWorkedWith         10902
NEWCollabToolsWantToWorkWith    10417
Sexuality                       10073
LanguageWantToWorkWith           6618
MentalHealth                     6519
Accessibility                    5836
Ethnicity                        3975
Trans                            2761
NEWCollabToolsHaveWorkedWith     2205
YearsCode                        1798
SurveyLength                     1728
SurveyEase                       1491
Gender                           1153
SOComm                           1120
LanguageHaveWorkedWith           1082
Age                              1032
SOVisitFreq                      1026
SOAccount                         914
NEWOtherComms                     611
LearnCode                         476
NEWStuck                          387
EdLevel                           313
NEWSOSites                        268
Age1stCode                        196
OpSys                             145
Employment                        116
MainBranch                          0
Country                             0
ResponseId                          0
dtype: int64

In [5]:
df_short_names = pd.read_csv('../data/raw/roles_short_names.csv',sep=';')

                                    Original name          Short name
0                             Developer, back-end         Back-end dev
1                           Developer, full-stack       Full-stack dev
2                            Developer, front-end        Front-end dev
3   Developer, desktop or enterprise applications          Desktop dev
4                               Developer, mobile           Mobile dev
5                               DevOps specialist               DevOps
6                          Database administrator       Database admin
7                                        Designer             Designer
8                            System administrator         System admin
9     Developer, embedded applications or devices         Embedded dev
10                       Data or business analyst              Analyst
11  Data scientist or machine learning specialist      Data Scientist
12                          Developer, QA or test    Quality Assurance
13                                 Engineer, data        Data Engineer
14                            Academic researcher           Researcher
15                                       Educator             Educator
16                    Developer, game or graphics             Game dev
17                            Engineering manager  Engineering manager
18                                Product manager      Product manager
19                                      Scientist            Scientist
20                     Engineer, site reliability        Site Engineer
21                            Senior executive/VP     Senior Executive
22                Marketing or sales professional      Marketing/Sales

### tasks to be done:
- replace string values in years 
- split the multiple answers
- sparate employment type (,)
- dev type (target) separation (,)
- replace target with short name